.skillselemente h3 {
  text-align: center;
  color: var(--color2);
  margin-bottom: 2vw;
}

.skills_top,
.skills_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.skills_top a {
  border: 1px solid white;
  color: var(--color2);
  text-decoration: none;
  padding: 0.5vw 1vw;
  background-color: var(--color1);
  border-style: none;
  margin-bottom: 1vw;
}
.skills_bottom a {
  border: 1px solid white;
  color: var(--color2);
  text-decoration: none;
  padding: 0.5vw 1vw;
  background-color: var(--color1);
  border-style: none;
  margin-bottom: 5vw;
}
